@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap");

#root {
  font-size: 16px;
  --color-shade: #5b70e6;
  font-family: Archivo, sans-serif;
  --nav-link-color: white;
}
