.container {
  width: 90%;
  padding: 0.25% 5%;
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  position: absolute;
  color: var(--nav-link-color);
  z-index: 1;

  .title {
    width: 20%;
    font-size: 2rem;
    font-weight: bold;
    white-space: nowrap;
  }

  .container.sticky {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    color: var(--color-shade);
  }

  .button-row {
    display: flex;
    width: 40%;
    justify-content: space-around;
    gap: 20px;
    .nav-link {
      color: var(--nav-link-color);
      font-weight: 500;
      width: 20%;
      text-align: center;
      padding: 1%;
      text-decoration: none;
      font-size: 1.5rem;
      cursor: pointer;
      &:active,
      &:focus,
      &:hover {
        border-bottom: 2px solid var(--color-shade);
      }
    }
  }
}
